.header {
    background-color: #333; /* Header background color */
    color: #fff; /* Header text color */
    text-align: center;
    padding: 20px;
}
*{
    background-color: #333;
}
/* Dropdown and button container */
.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
}

/* Dropdown styling */
.drop-down {
    padding: 8px;
    border: none;
    background-color: green; /* Dropdown background color */
    color: #fff; /* Dropdown text color */
    border-radius: 4px;
    margin-left: 20px;
}

/* Button styling */
.button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #0074d9; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#grid {
    border-collapse: collapse;
    border: 2px solid #000; /* Add a border to the grid cells */
}

#grid td {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc; /* Add a border to each cell */
}

.grid-selection-container{
    display: grid;
    place-items: center;
    height: 100%;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.wall{
    background-color: white;
}
.start{
    background-color: green;
}
.end{
    background-color: red;
}
.visited{
    background-color: aqua;
}
.path{
    background-color: blue;
}

